<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${mybatis.user}">

	<select id="getUser" resultType="UserVO">
	<![CDATA[
		SELECT * 
		FROM TBL_USER 
		WHERE USERID = #{userid}
	]]>
	</select>
	
	<insert id="createUser">
	<![CDATA[
		INSERT INTO TBL_USER (USERID, USERPW, USERNAME, ROLE)
		VALUES (#{userid}, #{userpw}, #{username}, #{role})
	]]>
	</insert>
	
	<update id="updateUser">
	<![CDATA[
		UPDATE TBL_USER
		SET USERPW = #{userpw}, USERNAME = #{username}
		WHERE USERID = #{userid}
	]]>
	</update>
	
	<update id="updateUserWithProfile">
	<![CDATA[
		UPDATE TBL_USER
		SET USERPW = #{userpw}, USERNAME = #{username}, PROFILEPATH = #{profilepath}
		WHERE USERID = #{userid}
	]]>
	</update>
	
	<update id="changeRole">
	<![CDATA[
		UPDATE TBL_USER
		SET ROLE = #{role}
		WHERE USERID = #{userid}
	]]>
	</update>
	
	<delete id="deleteUser">
	<![CDATA[
		DELETE FROM TBL_USER
		WHERE USERID = #{userid}
	]]>
	</delete>
	
	<update id="withdrawal">
	<![CDATA[
		UPDATE TBL_USER
		SET WITHDRAWAL = 1
		WHERE USERID = #{userid}
	]]>
	</update>
	
	<update id="changePassword">
	<![CDATA[
		UPDATE TBL_USER
		SET USERPW = #{userpw}
		WHERE USERID = #{userid}
	]]>
	</update>

	<select id="userIdExists" resultType="int">
	<![CDATA[
		SELECT COUNT(*) 
		FROM TBL_USER 
		WHERE USERID = #{userid}
	]]>
	</select>
	
	<select id="userNameExists" resultType="int">
	<![CDATA[
		SELECT COUNT(*) 
		FROM TBL_USER 
		WHERE LOWER(USERNAME) = LOWER(#{username}) AND USERID != #{userid}
	]]>
	</select>
	
	<update id="deactiveUser">
	    UPDATE TBL_USER
		<if test="isDeactive">
		    SET WITHDRAWAL = 1, DEACTIVEDATE = #{deactiveDate}
		    </if>
		<if test="!isDeactive">
		    SET WITHDRAWAL = 0
	    </if>
		WHERE USERID = #{userid}
	</update>
	
	<select id="isWithdrawal" resultType="int">
	<![CDATA[
		SELECT COUNT(*) 
		FROM TBL_USER 
		WHERE USERID = #{userid} AND WITHDRAWAL = 1;
	]]>
	</select>

</mapper>