@CHARSET "UTF-8";

.fileDrop {
  width: 80%;
  height: 100px;
  border: 3px dashed gray;
  margin: auto;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}

.uploadedList {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.fileForm {
	width: 80%;
	margin-top: 10px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

#fileSubmitBtn {
	width: 100%;
}